.bookiingbody {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(photos/secc\ 2.jpeg);
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(18, 37, 37, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.form-group {
        margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="number"], select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgba(18, 37, 37, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: rgba(18, 37, 37, 0.8);
}