*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #18291f;
    overflow: hidden;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar a:hover {
    color: #d9e70c;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar .navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #18291f;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #fff;
    margin: 20px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    background-color: #2eeb5d;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    font-size: 20px;
}

.hero{
    height: 80vh;
    background-image: url(blog\ post/hero.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content{
    margin-top: 50px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.btn{
    margin-top: 60px;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    background-color:  #18291f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #2eeb5d;
}

#h21 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#p1 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.rooms .roomlist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
}

.rooms .room {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.rooms .room:hover {
    transform: translateY(-5px);
}

.rooms .room img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

#h22{
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: #18291f;
    margin-top: 40px;
    text-transform: uppercase;
}

h3{
    color: #18291f;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#roomp{
    font-size: 1rem;
    color: #555;
}

.roombtn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color:  #18291f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.testimonials{
    background-color: #18291f;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.testimonials h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.testimonial-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
}

.testimonial{
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.testimonial:hover{
    transform: translateY(-5px);
}

.testimonial p{
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.testimonial h4{
    font-size: 1.2rem;
    color: #18291f;
}

.contact{
    background-color: #f2f2f2;
    padding: 40px 20px;
    text-align: center;
}

.contact h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact form{
    max-width: 600px;
    margin: 0 auto;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact textarea{
    height: 150px;
}

.contact button[type="submit"]{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #18291f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

footer{
    background-color: #18291f;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p{
    margin: 0;
    font-size: 1rem;
}

footer a{
    color: #000000;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.footerform{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.footerform input[type="text"],
.footerform input[type="email"],
.footerform textarea{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.footerform button[type="submit"]{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #18291f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    margin: 20px;
}

.socials a{
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    margin-bottom: 50px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 50px;
}

#abouth2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.ourstaff{
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
}

.staffimg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    color: #ccc;
}

#imgstaff{
    width: 200px;
    height: 200px;
    border-radius: 0%;
    margin-bottom: 10px;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

.staffmember{
    font-size: 1.2rem;
    color: #18291f;
    margin-bottom: 10px;
    text-align: center;
    margin: 10px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #18291f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

#staffp{
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    margin: 10px;
}

#staffh3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    color: #ffffff;
}

.serh4{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #18291f;
    text-transform: uppercase;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bookroom{
    width: 260px;
    height: 190px;
}

.bookingroom{
    margin-top: 20px;
    font-size: 1.2rem;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dee9e3;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.roomimages{
    margin: 20px;
    margin: 10px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

#price{
    font-size: 1.2rem;
    color: #18291f;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin: 10px;
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #18291f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.servicesmain{
    display: grid;
}

#bookbtn{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #18291f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#booklink{
    background-color: #ffffff;
    box-shadow: none;
}


#booking-form {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #18291f;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"],
input[type="number"],
input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.blog-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.blogimg{
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.blogimg:hover{
    transform: translateY(-5px);
}

#blogh2{
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: #18291f;
    margin-top: 40px;
    text-transform: uppercase;
}

.blog-post{
    margin: 20px;
    padding: 20px;
    color: #000000;
    text-align: center;
    transition: transform 0.3s ease;
}
